html,
body {
    overflow-x: hidden;
}

#info_wrapper {
    background-color: white;
    display         : flex;
    flex-flow       : row wrap;
    justify-content : center;
    text-align      : center;
    width           : 100vw;
    flex-direction  : row;
}

.temperature,
.humidity,
.soilmoisture {
    overflow     : auto;
    position     : relative;
    text-align   : center;
    align-items  : center;
    line-height  : 3em;
    height       : 30em;
    margin       : 30px;
    width        : 20em;
    border-radius: 21px;
    background   : #f2f3f7;
    box-shadow   : -11px 11px 22px #e3e3e3, 11px -11px 22px #ffffff;
}

.display {
    position: absolute;
}

.outercircle {
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : relative;
    left           : 25%;
    justify-content: center;
    justify-items  : center;
    background     : #f2f3f7;
    height         : 13rem;
    width          : 13rem;
    border-radius  : 50%;
    box-shadow     : -6px -6px 8px rgba(255, 255, 255, 0.9), 5px 5px 8px rgba(0, 0, 0, 0.07);
}

.innercircle {
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : relative;
    background     : #f2f3f7;
    height         : 11em;
    width          : 11em;
    border-radius  : 50%;
    box-shadow     : -6px -6px 8px rgba(255, 255, 255, 0.9), 5px 5px 8px rgba(0, 0, 0, 0.07);
}

.temp {
    color    : #067CF8;
    font-size: 1.5em;
}

.temp_info {
    position   : absolute;
    font-family: 'Roboto'sans-serif;
    top        : 55%;
    left       : 10%;
    font-size  : 1em;
}

.button-dial-spoke {
    background-color: rgba(96, 171, 254, 0.6);
    display         : block;
    height          : 2px;
    width           : 100%;
    position        : absolute;
    margin          : 0 auto;
    top             : 50%;
}

.button-dial-spoke:nth-child(1) {
    transform: rotate(30deg);
}

.button-dial-spoke:nth-child(2) {
    transform: rotate(60deg);
}

.button-dial-spoke:nth-child(3) {
    transform: rotate(90deg);
}

.button-dial-spoke:nth-child(4) {
    transform: rotate(120deg);
}

.button-dial-spoke:nth-child(5) {
    transform: rotate(150deg);
}

.tempi {
    font-size  : 3em;
    line-height: 0%;
}

.day {
    font-size  : 1.5em;
    line-height: 0%;
}

.time {
    line-height: 0;
}

.outercircle_h {
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : relative;
    left           : 25%;
    justify-content: center;
    justify-items  : center;
    background     : #f2f3f7;
    height         : 10rem;
    width          : 10rem;
    border-radius  : 50%;
    box-shadow     : -6px -6px 8px rgba(255, 255, 255, 0.9), 5px 5px 8px rgba(0, 0, 0, 0.07);
}

.hum_info,
.soilmoisture_info {
    font-size: 2em;
}

h1 {
    font-size  : 8vw;
    text-align : left;
    margin-left: 1em;
}

.landing {
    background-color: #f2f3f7;
    display         : flex;
    text-align      : center;
    height          : auto;
    color           : #056676;
    flex-direction  : column;
    width           : 100vw;
}

.landingdivsvg {
    display      : flex;
    align-content: center;
    align-items  : center;
    padding-left : 50%;
}

.landingdivsvg>svg {
    height: 100%;
    width : 100%;
}

.landing>p {
    font-size  : 2vw;
    margin-left: 2em;
    line-height: 1.5em;
    text-align : left;
}

.heading2 {
    display     : flex;
    margin-right: 45%;
    padding-top : 25%;
}

h2 {
    font-size : 5vw;
    text-align: left;
}

.nav>ul {
    margin-top: 4em;
    list-style: none;
    font-size : 2.5vw;

}

.nav>ul>li>p {
    line-height: 0em;
    cursor     : pointer;

    display      : inline-flex;
    align-items  : center;
    align-content: center;
}

.nav>ul>li>p:hover {
    font-size: 2rem;
    color    : black;
}

.devices {
    position        : relative;
    top             : 0;
    bottom          : 0;
    left            : 0;
    right           : 0;
    display         : inline-flex;
    flex-flow       : row wrap;
    text-align      : center;
    align-items     : center;
    justify-content : center;
    background-color: #E1F2FB;
    width           : 100vw;
    height          : auto;
}

.responsive-table li {
    border-radius  : 3px;
    padding        : 25px 30px;
    display        : flex;
    justify-content: space-between;
    margin-bottom  : 25px;
    width          : 50vw;
}

.responsive-table .table-header {
    background-color: #95A5A6;
    font-size       : 14px;
    text-transform  : uppercase;
    letter-spacing  : 0.03em;
}

.responsive-table .table-row {
    background-color: #ffffff;
    box-shadow      : 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .col-1 {
    flex-basis: 10%;
}

.responsive-table .col-2 {
    flex-basis: 40%;
}

.responsive-table .col-3 {
    flex-basis: 25%;
}

.responsive-table .col-4 {
    flex-basis: 25%;
}




.switch-toggle {
    height: 40px;
}

.switch-toggle input[type="checkbox"] {
    position: absolute;
    opacity : 0;
    z-index : -2;
}

.switch-toggle input[type="checkbox"]+label {
    position     : relative;
    display      : inline-block;
    width        : 100px;
    height       : 40px;
    border-radius: 20px;
    margin       : 0;
    cursor       : pointer;
}

.switch-toggle input[type="checkbox"]+label::before {
    position        : absolute;
    content         : 'OFF';
    font-size       : 13px;
    text-align      : center;
    line-height     : 25px;
    top             : 8px;
    left            : 8px;
    width           : 45px;
    height          : 25px;
    border-radius   : 20px;
    background-color: #eeeeee;
    box-shadow      : -3px -3px 5px rgba(255, 255, 255, .5),
        3px 3px 5px rgba(0, 0, 0, .25);
    transition: .3s ease-in-out;
}

.switch-toggle input[type="checkbox"]:checked+label::before {
    left            : 50%;
    content         : 'ON';
    color           : #fff;
    background-color: #00b33c;
    box-shadow      : -3px -3px 5px rgba(255, 255, 255, .5),
        3px 3px 5px #00b33c;
}

h3 {
    position: relative;
    bottom: 60%;
    line-height: 10em;
    font-size  : 2em;
}


.infosvg {
    margin-left: 45%;
    width      : 50vw;
    height     : auto;
}

.animated {
    display: none;
}

.lock_svg {
    width: 10em;
}

.lock #arrow {
    transform-origin: 42% 37%;
    transform       : rotate(202deg);
}

.unlocked #arrow {
    transform-origin: 42% 37%;
    animation       : revrotation 1s;
    transform       : rotate(195deg);
}

.locked #arrow {
    animation       : rotation 1s;
    transform       : rotate(25deg);
    transform-origin: 24% 37%;

}

.locked path,
.locked circle {
    fill     : #00b33c;
    animation: glow 1s infinite;

}

@keyframes rotation {
    from {
        transform-origin: 42% 37%;

        transform: rotate(202deg);

    }

    to {
        transform-origin: 24% 37%;

        transform: rotate(25deg);
    }
}

@keyframes revrotation {
    from {
        transform: rotate(25deg);

    }

    to {
        transform: rotate(202deg);
    }
}
.doorsvg{
    width: 4em;
    height: auto;
}
.responsive-table .table-header2 {
    color: white;
    background-color: #000000;
    font-size       : 14px;
    text-transform  : uppercase;
    letter-spacing  : 0.03em;
}
.security{
    position        : relative;
    top             : 0;
    bottom          : 0;
    left            : 0;
    right           : 0;
    display         : inline-flex;
    flex-flow       : row wrap;
    text-align      : center;
    align-items     : center;
    justify-content : center;
    width           : 100vw;
    height          : auto;
}
h4{
    text-align: left;
    font-size: 7vw;
    padding-right: 30%;
}
.security_svg{
    width: 500px;
}
.security_title p{
    font-size: 3vw;
    font-style: 'Roboto' sans-serif;
}
.devices_svg{
    width: 418px;
}

h5{
    font-size: 5em;
    padding: 0%;
}
.sentry_mode {
    box-sizing: border-box;
    display         : flex;
    align-items     : center;
    justify-content : center;
    background-color: #ffffff;
    width           : 100vw;
    height          : auto;
    /* max-height      : 100%; */
    flex-direction: column;
}
.sentry_mode_svg1{
    width: 36em;
    height: auto;
}
.sentry_mode_svg1 svg{
        float: right;
}
.sentry_mode_para{
    font-size: 2vw;
    margin-right: 50%;
}

.loader {
    width: 35em;
    height: 35em;
    font-size: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loader .face {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    animation: animate023845 3s linear infinite;
  }
  
  .loader .face:nth-child(1) {
    width: 100%;
    height: 100%;
    color: gold;
    border-color: currentColor transparent transparent currentColor;
    border-width: 0.2em 0.2em 0em 0em;
    --deg: -45deg;
    animation-direction: normal;
  }
  
  .loader .face:nth-child(2) {
    width: 70%;
    height: 70%;
    color: lime;
    border-color: currentColor currentColor transparent transparent;
    border-width: 0.2em 0em 0em 0.2em;
    --deg: -135deg;
    animation-direction: reverse;
  }
  
  .loader .face .circle {
    position: absolute;
    width: 50%;
    height: 0.1em;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: rotate(var(--deg));
    transform-origin: left;
  }
  
  .loader .face .circle::before {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    content: '';
    width: 1em;
    height: 1em;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: 0 0 2em,
                  0 0 4em,
                  0 0 6em,
                  0 0 8em,
                  0 0 10em,
                  0 0 0 0.5em rgba(255, 255, 0, 0.1);
  }
  
  @keyframes animate023845 {
    to {
      transform: rotate(1turn) ;
    }
  }
  .sentry_mode_svg2{
      width: 30em;
  }
  .sentry_mode_actv{
      display: none;
      align-items: center;
      align-content: center;
      overflow: hidden;
      background-color: #ffffff;
      width: 100vw;
      height: auto;
      flex-direction: column;
  }
#sentry_mode_btn {
    width: 10em;
    height: auto;
    margin-bottom: 5em;
    cursor: pointer;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 1em;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   #sentry_mode_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   #sentry_mode_btn:hover {
    color: #e8e8e8;
   }
   
   #sentry_mode_btn:hover::before {
    width: 100%;
   }
.sentry_mode_loader{
    width: 5em;
    height: auto;
    display: none;
    overflow: hidden;
}
@media all and (max-width: 767px) {
    .responsive-table .table-header {
        display: none;
    }
    .responsive-table .table-header2 {
        display: none;
    }

    .responsive-table li {
        display: block;
    }

    .responsive-table .col {
        flex-basis: 100%;
    }

    .responsive-table .col {
        display: flex;
        padding: 10px 0;
    }

    .responsive-table .col:before {
        color        : #6C7A89;
        padding-right: 10px;
        content      : attr(data-label);
        flex-basis   : 50%;
        text-align   : right;
    }
    .sentry_mode_para{
        font-size: 4vw;
    }
    .sentry_mode_para p{
        text-align: center;
    }
    .landing p{
        font-size: 3vw;
    }
}